# Created by https://www.gitignore.io/api/node,macos,windows,linux

# Dependency directories
node_modules

#deploy
dist

# plugins
# assets

# css generate by scss
src/css/style.css
src/css/fonts.css
# src/css/style-v2.css

package-lock.json

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Windows shortcuts
*.lnk