/* ======================================================
    _g-Card
*/
// .pti-cards-list.pti-list-auto {
//     display: flex;
//     flex-flow: row wrap;
    
//     .pti-card {
//          flex: 0 0 100%;
//          max-width: 100%;
    
//         @include media-breakpoint-only(sm) {
//             flex: 0 0 50%;
//             max-width: 50%;
//         }
                
//         @include media-breakpoint-up(md) {
//             flex: 0 0 33.33%;
//             max-width: 33.33%;
//         }

//         @include media-breakpoint-up(lg) {
//             flex: 0 0 25%;
//             max-width: 25%;
//         }

//         &.pti-card-horizontal {
//             @include media-breakpoint-only(sm) {            
//                 flex: 0 0 100%;
//                 max-width: 100%;
//             }

//             @include media-breakpoint-up(md) {
//                 flex: 0 0 50%;
//                 max-width: 50%;
//             }
                
//             @include media-breakpoint-up(xl) {
//                 flex: 0 0 33.33%;
//                 max-width: 33.33%;
//             }
//         }
//     }
// }

.pti-card {
    $br: .2em; // border-radius
    $border: cRem(.1em) solid $cor-black-300;
    margin-bottom: cRem(1.5em);

    &, & > a {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        border-radius: $br;        
        word-wrap: break-word;
    }
    
    & > a {
        &:hover, &:focus {
            text-decoration: none;
        }

        &:focus {
            outline: none;
            @include box-shadow-focus();
        }
    }

    .pti-card-header {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        padding: cRem(1.5em) cRem(.8em);
        border: $border;
        border-bottom: 0;
        border-radius: $br $br 0 0;
        
        color: $cor-white;
        // background-color: $cor-vivo-2;
        // border-color: $cor-vivo-2;

        .pti-data {
            margin: 0 cRem(1em);
        }

        .pti-label-mes {
            text-transform: uppercase;
            font-size: cRem(1.4em);
            letter-spacing: .1ch;
            line-height: 1;
        }
        
        .pti-label-dia {
            font-size: cRem(3em);
            line-height: 1;
        }
        
        .pti-info {
            font-size: cRem(1.2em);
            line-height: 1.3;

            .pti-data {
                display: block;
            }
        }
    }

    .pti-card-body {
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;

        color: $cor-text;
        padding: cRem(1.5em);
        
        border: $border;
        border-top: 0;
        border-radius: 0 0 $br $br;


        .pti-categoria {
            font-size: cRem(1.2em);
            margin-bottom: cRem(1em);
        }

        .pti-titulo {
            font-size: cRem(1.6em);
            color: $cor-black-1;
        }

        .pti-subtitulo {
            font-size: cRem(1.4em);
        }
        
        .pti-info {
            display: flex;
            width: 100%;
            flex-grow: 1;
            font-size: cRem(1.2em);
            justify-content: space-between;
            align-items: flex-end;
            margin-top: cRem(1em);
        }
    }

    // ajusta header e card-horizontal
    @media all and (min-width: 400px){
            
        .pti-card-header {
            flex-direction: column;

            .pti-info {
                margin-top: cRem(1.5rem);
            }
        }

        &.pti-card-horizontal {
            &, & > a {
                flex-direction: row;
            }

            .pti-card-header {
                border: $border; 
                border-right: 0;
                border-radius: $br 0 0 $br;
                flex: 0 0 cRem(12.5em);
            }

            .pti-card-body {
                border: $border; 
                border-left: 0;
                border-radius: 0 $br $br 0;
            }
        }
    }
}


/* define as cores dos cards de acordo com cada tipo */
@each $name, $bg, $bg-hover in (
    ('card', $cor-vivo-2, $cor-vivo-3),
    ('card-encerrado', $cor-danger, $cor-danger-dark),
    ('card-inscrito', $cor-success, $cor-success-dark),
    ('card-interessado-aberto', $cor-black-500, $cor-black-700),
    ('card-interessado-inscrito', $cor-vivo-5, $cor-vivo-7),
) {    
    .pti-#{$name} {
        
        .pti-card-header {
            background-color: $bg;
            border-color: $bg;
        }

        & > a {
            &:hover, &:focus {
                .pti-card-header {
                    background-color: $bg-hover;
                }

                .pti-card-body {
                    color: $cor-black-1;
                    background-color: $cor-black-50;
                }

                .pti-card-header,
                .pti-card-body {
                    border-color: $bg-hover;
                }
            }
        }
    }
}