
/* ======================================================
    _g-Header
*/
.#{$project-name}.pti-header {
  
  .pti-logo {
    font-size: cRem(3em);
    color: $cor-black-1;
    margin: 0;
    outline: none;
    @extend %font-light;

    a {
      @extend %transition-fast;
      color: $cor-black-1;

      &:hover, &:focus {
        color: $cor-vivo-3;
        text-decoration: none;
        outline: none;
      }
    }
  }
  
  // mobile
  @include media-breakpoint-down(md) {
    // define altura do header para que o menu mobile abra sobre o conteudo
    height: cRem(7em);

    // logo centralizado para mobile
    .pti-logo {
      flex-grow: 1;
      text-align: center;
    }

    // border nos links para mobile
    .nav-item {
      border-bottom: .1em solid $cor-black-200;
  
      &:last-child {
        border: 0;
      }
    }

    // aplica mascara de fundo quando menu mobile estiver aberto
    &.pti-menu-show:after {
      content: "";
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;  
      z-index: 1;
      animation: show-mask-menu .6s ease;
      animation-fill-mode: forwards;
      background: $cor-vivo-10;
    }

    @keyframes show-mask-menu {
      from {
        opacity: 0;
      }
      to {
        opacity: .7;
      }
    }
  
  }
}

.pti-navbar {
  padding: .5em 0;
  z-index: 10;    
  background-color: $cor-white;

  & > .container {
    padding: 0 15px;
    justify-content: normal;
  }
  
  // centraliza menu
  .navbar-nav {
    margin: 0 auto;
    
    // altera cor dos links do menu
    .nav-link {
      font-size: cRem(1.6em);
      color: #074d5f;
      
      &:hover, &:focus {
        outline: none;
        color: rgba(#000, .8);
      }
    }
  }
  
  // customiza icone para abrir e fechar o menu no mobile
  .navbar-toggler {
    position: relative;
    width: cRem(2em);
    height: cRem(1.5em);
    padding: 0;
    border: 0;
    margin-right: cRem(1em);
    outline: none;
    transition: .2s ease-out;

    // cria as 3 linhas do botao do menu mobile
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    
    // linha do meio
    &:before {
      top: 43%;
      border-top: cRem(.2em) solid #000;
    }

    // linha de cima e de baixo
    &:after {
      border: cRem(.2em) solid #000;
      border-left: 0;
      border-right: 0;
    }

    // desativa icone do botao mobile do boostrap
    .navbar-toggler-icon {
      display: none;
    }

    // rotaciona o botao e muda as 3 linhas para um x
    &:not(.collapsed) {
      transform: rotate(-135deg);
      
      &:after {
        border-top: 0;
        transform: translate(30%, 0) rotate(90deg);
      }
    }
  }

  // modo expandido - desktop
  @include media-breakpoint-up(lg) {    
    // realiza quebra linha no menu para proxima linha
    & > .container {
      flex-wrap: wrap;
      
      .pti-menu {
        flex: 1 1 100%;
      }
    }

    // cria um efeito de ubderline sob o link quando passa o mouse
    .nav-link {
      &:after {
        content: "";
        display: block;
        width: 0%;
        height: .2ch;
        margin: 0px auto;
        transition: .15s ease-out;
      }

      &:hover:after, &:focus:after {
        width: 100%;
        background-color: rgb(0, 198, 218);
      }
    }
  }
}