
/* ======================================================
    Buttons
*/

// MIXINS
@mixin btn-color($color: $cor-white) {
    color: $color;
}

@mixin btn-bg-color($color) {
    border-color: $color;
    background-color: $color;
}

// =============================================================================================

.pti-btn {
    border-radius: 0;
    font-size: 90%;

    @each $name, $bg, $bg-hover, $color, $color-hover in (
        ('primary', $cor-vivo-1, $cor-vivo-3),
        ('secondary', $cor-black-300, $cor-black-600, $cor-black-900, $cor-white)
    ) {
        &.btn-#{$name} {
            @include btn-bg-color($bg);
            @include btn-color($color);

            &:hover {
                @include btn-bg-color($bg-hover);
                @include btn-color($color-hover);
            }

            &:focus {
                @include box-shadow-focus($bg);
            }

            &:not(:disabled):not(.disabled).active, 
            &:not(:disabled):not(.disabled):active, 
            .show>&.dropdown-toggle,
            &:not(:disabled):not(.disabled).active:focus, 
            &:not(:disabled):not(.disabled):active:focus, 
            .show>&.dropdown-toggle:focus {
                @include btn-bg-color($bg-hover);
                @include box-shadow-focus($bg-hover);
            }
        }
    }
}
