
/* ======================================================
    Portal
*/
.#{$project-ref}portal {
  .#{$project-ref}portal-chart {
  }

  .row > div{
    margin: cRem(.5rem) 0 0 cRem(.5rem);
    
    &:first-child {      
      margin: 0;
    }
  }
}

.#{$project-ref}portal-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .#{$project-ref}portal-icon {
    width: cRem(3rem);
    height: cRem(3rem);
    margin: 0 cRem(.5rem) cRem(.5rem) 0;

    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      padding: cRem(.6rem) 0;
      text-align: center;
      color: $cor-white;      
      // background-color: $cor-vivo-3;

      i {
        position: relative;
        z-index: 2;
      }

      &:before {
        content: '';
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: green;
        border-radius: 100%;
        z-index: 0;
        background-color: transparent;
        @extend %transition-fast;
      }
      
      &:focus, &:hover {
        color: $cor-white !important;
        text-decoration: none;
        // background-color: $cor-vivo-7;

        &:before {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $cor-vivo-1;
        }
      }
    }
  }
}
