
/* ======================================================
    Noticias
*/
.pti-news-group-text {
  position: relative;
  // padding-right: cRem(3rem);
  padding-top: cRem(1rem);

  a {
    display: block;
    color: $cor-black-800;

    &:focus, &:hover {
      // text-decoration: none;
      color: $cor-vivo-1;
    }
  }
}

.pti-news-subtitle {
  line-height: 1.4;
}

.pti-img-back {
  position: relative;

  a:after {
    content: '';
    border: 0 solid transparent;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;    
    @extend %transition-fast;
  }

  a:focus:after, 
  a:hover:after {
    border: cRem(.2rem) solid $cor-vivo-1;  
  }
}

/* ======================================================
    Noticia principal
*/
.pti-main-news {
  position: relative;
  background-color: rgba($cor-vivo-1, .1);

  &:before {
    content: '';
    position: absolute;
    display: block;
    background-color: rgba($cor-white, .3);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .pti-title {
    margin-bottom: 0;
  }

  .pti-img-back {
    text-align: center;
    max-height: cRem(40rem);
    overflow: hidden;
  }

  .pti-news-group-text {
    position: absolute;
    bottom: 0;
    z-index: 2;
    max-width: cRem(40rem);
  }

  .pti-news-subtitle {
    color: $cor-black-1;
    font-size: cRem(1.7rem);
  }
  
  @media screen and (max-width: $screen-xs-max) {
    .pti-news-group-text {
      max-width: none;
      margin-right: 15px;
    }

    .pti-img-back {
      height: cRem(35rem);
      overflow: hidden;

      img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        max-width: none;
      }
    }
  }
}


// noticia thumbnail
.pti-news-container {
  .pti-news-title {
    font-size: cRem(1.8rem);
  }
  
  .pti-news-subtitle {
    font-size: cRem(1.4rem);
  }

  .pti-img-back {
    overflow: hidden;
    max-height: cRem(15.5rem);

    @media screen and (max-width: $screen-sm-max) {
      max-height: cRem(25rem);
    }
  }
}