
/* ======================================================
    Links uteis
*/

.pti-links-uteis {
  .pti-wrapper {
    /* autoprefixer: off */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 40px;
  }

  a.pti-box {
    background-color: $cor-vivo-3;
    border: 1px solid $cor-vivo-9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    @extend %transition;

    &:hover, &:focus {
      color: $cor-white !important;
      background-color: $cor-vivo-1;
    }
  }

  .pti-box2 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
