.pti-aviso-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;

    .pti-aviso-container {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: cRem(.5rem);
        padding: cRem(.3rem) cRem(1rem);
        background-color: rgba($cor-vivo-3, .9);
        border-radius: cRem(.2rem);
        color: $cor-white;
    }

    .pti-avisos {
        margin-bottom: 0;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;

        .pti-aviso {
            list-style: none;
            display: inline-block;
            padding: 0 cRem(.5rem);
            position: relative;
            animation: linear infinite;
            animation-name: left-to-right;
            animation-duration: 15s;

            @keyframes left-to-right {
                0% {
                    left: 100%;
                }
                100% {
                    left: -100%;
                }
            }
        }
    }

    [class*="col-"] {
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    .pti-avisos-icon {
        max-width: cRem(3rem);
    }

    a {
        color: $cor-white;
    }

    
    .pti-avisos-link-more {
        white-space: nowrap;
    }
}