
/* ======================================================
    Header
*/
.#{$project-name}.pti-header {
  position: relative;
  // background-color: $cor-black-200;

  &.pti-header-home {
    .pti-header-group {
      position: absolute;
    }
  }

  .pti-header-container {
    margin: cRem(1rem);
  }

  .pti-header-group {
    width: 100%;
    z-index: 2;
    @extend %transition;
    // background: linear-gradient(rgba($cor-white, 40%), rgba($cor-white, 0%));

    
    .navbar-toggler {
      position: relative;
      width: cRem(2em);
      height: cRem(1.5em);
      padding: 0;
      margin: 5px 0;
      outline: none;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      
      &:before {
        top: 43%;
        border-top: cRem(.2em) solid #000;
      }

      &:after {
        border: cRem(.2em) solid #000;
        border-left: 0;
        border-right: 0;
      }

      .navbar-toggler-icon {
        display: none;
      }
    }

    &.pti-menu-show {
      @media screen and (max-width: $screen-menu-mobile) {
        background-color: rgba($cor-vivo-5, .95);
        z-index: 100;

        .pti-logo {
          color: $cor-white;
        }

        .navbar-toggler {
          &:before, &:after {
            border-color: #fff;
          }
        }

        .pti-main-menu {
          padding-bottom: 1rem;
          
          .nav-link {
            color: $cor-white;

            &:focus, &:hover {
              // color: $cor-vivo-1;
              background-color: rgba($cor-vivo-6, .7);
            }
          }
        }
      }
    }
  }

  .pti-logo {
    font-size: cRem(3rem);
    color: $cor-black-1;
    text-decoration: none;
    @extend %font-light;

    @media screen and (max-width: $screen-menu-mobile) {
      margin-left: cRem(3rem);
    }
  }

  .pti-search {
    .pti-btn-search {
      font-size: cRem(1.6rem);
      padding: cRem(.5rem) cRem(.8rem);
      color: $cor-vivo-7;
      border-radius: 100%;
      @extend %transition;

      &:focus, &:hover {
        color: $cor-white;
        background-color: $cor-vivo-7;
        border-radius: cRem(.3rem);
      }
    }
  }

  .pti-main-menu {
    margin-bottom: cRem(1.5rem);
    z-index: 100;

    .navbar {
      padding: 0;
    }

    .navbar-toggler {
      border: 0;
      padding: cRem(.2rem) cRem(.4rem);
    }

    @extend .pti-link-show-line;
    a {
      padding-left: cRem(1.5rem);
      padding-right: cRem(1.5rem);
      color: $cor-vivo-7;
      font-size: cRem(1.6rem);
    }

    @media screen and (max-width: $screen-menu-mobile) {
      .navbar {
        margin-top: cRem(-4.5rem);
      }

      .nav-item {
        &:first-child {
          margin-top: cRem(1rem);
        }

        a {
          padding-left: cRem(1rem);
          padding-right: cRem(1rem);
        }
      }
    }
  }
}
