
/* ======================================================
    Calendario
*/
.#{$project-ref}calendar {
}

.#{$project-ref}calendar-days {
  padding: 0;
  margin: 0 0 cRem(1rem) 0;

  .#{$project-ref}calendar-day {
    display: flex;
    align-items: center;
    min-height: cRem(5.5rem);
    padding: 0 0 0 cRem(1rem);
    margin-top: cRem(1rem);
    background-color: $cor-black-200;
    @extend %transition-fast;

    &:hover {
      background-color: $cor-black-300;

      .#{$project-ref}calendar-title {
        color: $cor-black-1;
      }
    }

    &:first-child {
      margin: 0;
    }

    .#{$project-ref}calendar-date {
      @extend %nowrap;
    }

    .#{$project-ref}calendar-label-day {
      line-height: 1;
      font-size: cRem(3.2rem);
      color: $cor-vivo-2;
      @extend %font-light;
      
    }

    .#{$project-ref}calendar-label-month {
      position: relative;
      font-size: cRem(1rem);
      top: cRem(-1.3rem);
    }

    .#{$project-ref}calendar-events {
      width: 100%;
    }

    .#{$project-ref}calendar-event {
      position: relative;
      margin: cRem(.5rem) 0;
      padding: cRem(1rem) 0;

      &:after {
        position: absolute;
        bottom: 0;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, transparent, rgba($cor-vivo-5, .3), transparent);
      }

      &:last-child {
        margin: 0;
        
        &:after {
          display: none;
        }
      }
    }

    a.#{$project-ref}calendar-title {
      line-height: 1.3;
      max-height: cRem(3.5rem);
      overflow: hidden;
      padding-right: cRem(1rem);        
      padding-left: cRem(1rem);
      display: block;

      color: inherit;

      &:focus, &:hover {
        text-decoration: underline;
        color: $cor-vivo-1;
      }
    }
  }
}

/*
  Calendar Evento
*/ 

.#{$project-ref}calendar-grid {

  .#{$project-ref}calendar-events {

    .col {
      display: flex;
      margin-bottom: cRem(2rem);

      @media screen and (max-width: $screen-md-max) {
        margin-bottom: cRem(1rem);
      }
    }
  }
  
  .#{$project-ref}calendar-event-detail {   
    // max-width: cRem(30rem);
    width: 100%;

    &:hover {
      border-color: $cor-vivo-2;
    }
    
    
    .#{$project-ref}calendar-card {
      display: flex;
      flex: 1 2;
      // flex-direction: column;
      text-decoration: none;
      color: $cor-black-800;

      .pti-calendar-info {
        display: flex;
        flex: 1 0%;
        flex-direction: column;
        overflow: hidden;
      }
      
      @media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max){
        flex-direction: column;

        .#{$project-ref}calendar-date {
          max-width: 100%;
          border-radius: cRem(.3rem) cRem(.3rem) 0 0;
        }
      }
    }

    a.#{$project-ref}calendar-card {
      border-radius: cRem(.3rem);

      &:focus, &:hover {
        background-color: $cor-black-100;
      }
    }

    .#{$project-ref}calendar-date {
      text-align: center;
      text-decoration: none;
      background-color: $cor-vivo-1;
      color: $cor-white;
      max-width: cRem(15rem);
      border-radius: cRem(.3rem) 0 0 cRem(.3rem);
      display: flex;
      align-items: center;
      justify-content: space-around;
      
      & > div {        
        // position: relative;
        // top: 50%;
        // transform: translateY(-50%);
        padding: cRem(2rem) cRem(1rem);
      }
    }

    .#{$project-ref}calendar-label-month {
      text-transform: uppercase;
      line-height: 1;
    }
    
    .#{$project-ref}calendar-label-day {
      line-height: 1;
      font-size: cRem(3.2rem);
      @extend %font-light;
    }
  }

  .pti-calendar-body,
  .pti-calendar-footer {
    padding: cRem(1.2rem);
  }

  .pti-calendar-body {
    padding-bottom: 0;
  }
  
  p {
    margin-bottom: cRem(.5rem);
  }

  .pti-calendar-footer {
    padding-top: 0;
    background-color: transparent;
    border: 0;
  }

  .pti-calendar-endereco, .btn {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  .pti-calendar-title {
    font-size: cRem(1.6rem);
    margin-bottom: cRem(1.5rem);
  }

  .pti-calendar-categoria,
  .pti-calendar-endereco {
    font-size: 80%;
  }

  .pti-calendar-btn-add {
    display: none;
  }

}