/* ======================================================
    _pt-turmas
*/
.pti-turma {
  .pti-card-header {
    flex-direction: row;

    .pti-titulo {
      flex-basis: 100%;
      font-size: cRem(1.6em);
      margin: 0;
    }
  }

  .pti-card-body {
    .pti-label {
      color: $cor-black-1;
    }

    .pti-item {
      display: flex;
      flex-direction: column;      
      margin-bottom: 1em;
      font-size: cRem($font-size);

      .pti-label {
        margin-bottom: .5em;
      }
      
      @include media-breakpoint-up(md) {
        flex-direction: row;

        .pti-label {
          $tm: 33%;
          flex: 0 0 $tm;
          max-width: $tm;
        }

        .pti-valor {
          flex: 1 1 auto;
        }
      }
    }

    .pti-info {
      .pti-status * {
        font-size: inherit;
      }
    }
  }
}
