@each $_fonte in $fontes {
    $diretorio: '#{$url-path-fontes}/#{$_fonte}/';
    $nome: '#{$family}-#{$_fonte}';

    @font-face {
        font-family: '#{$nome}';
        src: url('#{$diretorio}#{$nome}.eot');
        src: url('#{$diretorio}#{$nome}.eot?#iefix') format('embedded-opentype'),
             url('#{$diretorio}#{$nome}.woff2') format('woff2'),
             url('#{$diretorio}#{$nome}.woff') format('woff'),
             url('#{$diretorio}#{$nome}.otf') format('truetype'),
             url('#{$diretorio}#{$nome}.svg') format('svg');
    }
}

.#{$project-name} {
  @extend %font-regular;
  color: $cor-text;
  font-size: cRem($font-size);

  @media screen and (max-width: $screen-md-max) {
    font-size: 80%;
  }

  strong, b {
    font-style: normal;
    font-weight: bold;
  }

  em, i:not(.fa) {
    @extend %font-italic; // fonte-italic
    font-style: normal;
    font-weight: normal;

    & b, & strong, b &, strong & {
      @extend %font-italic; // fonte-bold-italic
      font-style: normal;
      font-weight: bold;
    }
  }

  @for $i from 0 through 5 {
    h#{$i} {
      font-weight: normal;
    }
  }
}

@each $name in ('light', 'regular') {
  .#{$project-name} .font-#{$name} {
    @extend %font-#{$name};
  }
}
