
/* ======================================================
    Header
*/

.#{$project-name}.pti-header {
  position: relative;

  .container {
    justify-content: normal;
  }
  
  .pti-logo {
    font-size: cRem(3rem);
    color: $cor-black-1;
    margin: 0;
    outline: none;
    @extend %font-light;
  }
  
  // centraliza menu
  .navbar-nav {
    margin: 0 auto;
    
    // altera cor dos links do menu
    .nav-link {
      color: #074d5f;
      
      &:hover, &:focus {
        outline: none;
        color: rgba(#000, .8);
      }
    }
  }
  
  // customiza icone para abrir e fechar o menu no mobile
  .navbar-toggler {
    position: relative;
    width: cRem(2em);
    height: cRem(1.5em);
    padding: 0;
    border: 0;
    margin-right: cRem(1rem);
    outline: none;
    transition: .2s ease-out;

    // cria as 3 linhas do botao do menu mobile
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    
    // linha do meio
    &:before {
      top: 43%;
      border-top: cRem(.2em) solid #000;
    }

    // linha de cima e de baixo
    &:after {
      border: cRem(.2em) solid #000;
      border-left: 0;
      border-right: 0;
    }

    // desativa icone do botao mobile do boostrap
    .navbar-toggler-icon {
      display: none;
    }

    // rotaciona o botao e muda as 3 linhas para um x
    &:not(.collapsed) {
      transform: rotate(-135deg);
      
      &:after {
        border-top: 0;
        transform: translate(30%, 0) rotate(90deg);
      }
    }
  }

  // modo expandido
  @include media-breakpoint-up(lg) {
    // realiza quebra linha no menu para proxima linha
    .container {
      flex-wrap: wrap;
      
      .pti-menu {
        flex: 1 1 100%;
      }
    }

    // cria um efeito de ubderline sob o link quando passa o mouse
    .navbar .nav-link {
      &:after {
        content: "";
        display: block;
        width: 0%;
        height: .2ch;
        margin: 0px auto;
        transition: .15s ease-out;
      }

      &:hover:after {
        width: 100%;
        background-color: rgb(0, 198, 218);
      }
    }
  }
}


.#{$project-name}-old.pti-header {
  position: relative;

  &.pti-header-home {
    .pti-header-group {
      position: absolute;
    }
  }

  .pti-header-container {
    margin: cRem(1rem);
  }

  .pti-header-group {
    width: 100%;
    z-index: 2;
    @extend %transition;
    
    .navbar-toggler {
      position: relative;
      width: cRem(2em);
      height: cRem(1.5em);
      padding: 0;
      margin: 5px 0;
      outline: none;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      
      &:before {
        top: 43%;
        border-top: cRem(.2em) solid #000;
      }

      &:after {
        border: cRem(.2em) solid #000;
        border-left: 0;
        border-right: 0;
      }

      .navbar-toggler-icon {
        display: none;
      }
    }

    &.pti-menu-show {
      @media screen and (max-width: $screen-menu-mobile) {
        background-color: rgba($cor-vivo-5, .95);
        z-index: 100;

        .pti-logo {
          color: $cor-white;
        }

        .navbar-toggler {
          &:before, &:after {
            border-color: #fff;
          }
        }

        .pti-main-menu {
          padding-bottom: 1rem;
          
          .nav-link {
            color: $cor-white;

            &:focus, &:hover {
              // color: $cor-vivo-1;
              background-color: rgba($cor-vivo-6, .7);
            }
          }
        }
      }
    }
  }

  .pti-logo {
    font-size: cRem(3rem);
    color: $cor-black-1;
    text-decoration: none;
    @extend %font-light;

    @media screen and (max-width: $screen-menu-mobile) {
      margin-left: cRem(3rem);
    }
  }

  .pti-search {
    .pti-btn-search {
      font-size: cRem(1.6rem);
      padding: cRem(.5rem) cRem(.8rem);
      color: $cor-vivo-7;
      border-radius: 100%;
      @extend %transition;

      &:focus, &:hover {
        color: $cor-white;
        background-color: $cor-vivo-7;
        border-radius: cRem(.3rem);
      }
    }
  }

  .pti-main-menu {
    margin-bottom: cRem(1.5rem);
    z-index: 100;

    .navbar {
      padding: 0;
    }

    .navbar-toggler {
      border: 0;
      padding: cRem(.2rem) cRem(.4rem);
    }

    // @extend .pti-link-show-line;
    a {
      padding-left: cRem(1.5rem);
      padding-right: cRem(1.5rem);
      color: $cor-vivo-7;
      font-size: cRem(1.6rem);
    }

    @media screen and (max-width: $screen-menu-mobile) {
      .navbar {
        margin-top: cRem(-4.5rem);
      }

      .nav-item {
        &:first-child {
          margin-top: cRem(1rem);
        }

        a {
          padding-left: cRem(1rem);
          padding-right: cRem(1rem);
        }
      }
    }
  }
}