// .pti-noticias {
//     display: flex;
//     flex-wrap: wrap;

//     .pti-noticia {
//         flex-basis: 0;
//         flex-grow: 1;
//         max-width: 100%;
//     }
// }

.pti-noticia-thumb {
    display: none;

    &:first-child {
        display: flex;
    }

    @include media-breakpoint-up(sm) {
        &:nth-child(2) {
            display: flex;
        }
    }

    @include media-breakpoint-up(xl) {
        display: flex;
    }
    
    > a {
        width: 100%;
        display: block;
        position: relative;

        &:hover, &:focus {
            img {
                transform: scale(1.1);
            }

            .pti-title {
                background-color: rgba($cor-vivo-1, .9);
            }
        }

        &:focus {
            outline: none;
            @include box-shadow-focus();
        }
    }

    .pti-img-container {
        text-align: center;
        overflow: hidden;
        max-height: cRem(35em);

        img {
            width: 100%;
            @extend %transition;
        }

        @include media-breakpoint-up(sm) {
            max-height: cRem(19em);
        }

        @include media-breakpoint-only(md) {
            max-height: cRem(16em);
        }
    }

    .pti-title {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba($cor-vivo-2, .8);
        text-shadow: 0 0 .1em $cor-vivo-3;
        color: #FFF;
        margin: 0;
        padding: cRem(.5em) cRem(1em);
        font-size: cRem(1.8em);
        @extend %transition;
    }
}
