/* ======================================================
    _pt-comunicacao-home
*/
.pti-comunicacao-home {
    a.pti-link {
        margin-bottom: 0;
    }
    
    // mobile noticias sendo 1 por linha
    @include media-breakpoint-down(xs) {
        flex: 0 0 100%;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // mobile exibe apenas 2 noiticias
    @include media-breakpoint-down(lg) {
        &:nth-child(n+3) {
            display: none;
        }
    }
}
