/* ======================================================
    _pt-carousel
*/
.pti-carousel {
    margin-bottom: 1em;

    .carousel-indicators li {
        background-color: $cor-black-900;
        opacity: .5;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        @extend %transition;
        cursor: pointer;

        &.active {
            background-color: $cor-vivo-3;
            opacity: .8;
        }
    } 

    .carousel-item {
        // proporcao 1100 x 350
        $height-default: cRem(35em);

        @include media-breakpoint-down(xs) {
            height: 0.463 * $height-default;
            min-height: 0.263 * $height-default;
            max-height: 0.463 * $height-default;
        }
        
        @media all and (max-width: 320px) {
            height: 0.263 * $height-default;
        }
        
        @media all and (min-width: 321px) and (max-width: 453px) {
            height: 0.366 * $height-default;
        }
        
        @include media-breakpoint-only(sm) {
            height: 0.463 * $height-default;
        }

        @include media-breakpoint-only(md) {  
            height: 0.627 * $height-default;
        }

        @include media-breakpoint-only(lg) {  
            height: 0.845 * $height-default;
        }

        @include media-breakpoint-only(xl) {
            height: $height-default;
        }
    }
}