/* ======================================================
   theme.scss
   ======================================================
*/
.pti-box-aviso {
    background: #444;
    height: 500px;
}

.pti-line {
    border-bottom: 0.15625em solid #00c6da;
    padding-bottom: .3em;
    margin-bottom: 1em;
}
/* ======================================================
   fim theme.scss
   ======================================================
*/