
/* ======================================================
    Genericos
*/

// utilizado apenas no prototipo
.spfx-header {
  height: 50px;
  color: $cor-white;
  padding-top: 12px;
  background: radial-gradient(circle, $cor-vivo-3, $cor-vivo-9 75%);
}

// font-default;
.#{$project-name} {
  font-size: cRem(1.4rem);
}

// remove style list
.#{$project-ref}list {
  padding-left: 0;

  li {
    list-style: none;
  }
}

/* ======================================================
    Links
*/

// links - ver todos
.#{$project-ref}link-all {
  position: relative;
  color: $cor-vivo-6;
  display: flex;
  align-items: flex-end;
  @extend %nowrap;
  margin-top: cRem(.5rem);

  &:focus, &:hover {
    color: $cor-vivo-1;
  }

  .icon {
    position: relative;
    top: cRem(.2rem);
    font-size: cRem(1.5rem);
    padding: 0 cRem(.5rem);
  }
}

// link - ver mais
.#{$project-ref}link-more {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: cRem(-.5rem);
  width: cRem(2.5rem);
  height: cRem(2.5rem);
  background-color: $cor-vivo-1;
  color: $cor-white !important;
  font-size: cRem(1.5rem);
  @extend %transition-fast;
  z-index: 3;
  
  .pti-icon {
    position: relative;
    top: cRem(.2rem);
  }
  
  &:focus, &:hover {
    background-color: $cor-vivo-7;
    text-decoration: none;
  }
}


// icon
.#{$project-ref}icon-gray {
  color: $cor-black-500;
}


/* ======================================================
    Boxs
*/
// Titulo box
.#{$project-ref}title {
  line-height: 1.1;
  font-size: cRem(2.6rem);
  color: $cor-vivo-9;

  &.#{$project-ref}title-line:after {
    content: '';
    display: block;
    width: cRem(20rem);
    height: 2px;
    margin: cRem(.4rem) 0;
    margin-left: -15px;
    background-color: $cor-vivo-1;
  }
}

// link Titulo box
a.#{$project-ref}title {
  &:focus, &:hover {
    color: $cor-vivo-1;

    &.#{$project-ref}title-line {
      text-decoration: none;
    }
  }
}

.#{$project-ref}container {    
  margin-top: cRem(1rem);
}


/* ======================================================
    Section
*/
.#{$project-name}.#{$project-ref}section {
  padding: 0;

  .#{$project-ref}box-separate {
    padding-top: cRem(3rem);
  }
  
  .#{$project-ref}title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}


/* ======================================================
  Bread Crumb
*/
.#{$project-ref}bread-crumb {  
  .#{$project-ref}list {
    margin: cRem(1rem) 0 0 0;
    color: $cor-black-500;
  }

  .#{$project-ref}list-item {
    display: inline-block;
    font-size: 80%;

    &[class*="-divider"] {
      color: rgba($cor-vivo-2, .5);
      font-size: 60%;
      margin: 0 cRem(.2rem);
    }
  }

  a {
    color: $cor-vivo-5;
    font-weight: 500;

    &:focus, &:hover {
      color: $cor-vivo-1;
    }
  }
}

/* ======================================================
  Button
*/
.#{$project-ref}btn-circle {
  border-radius: 100%;
  width: cRem(3.8rem);
  height: cRem(3.8rem);
  padding: cRem(.6rem);
  text-align: center;
  
  &.btn-sm {
    width: cRem(3rem);
    height: cRem(3rem);
    padding: cRem(.3rem);
  }
  
  &.btn-xs {
    width: cRem(2.2rem);
    height: cRem(2.2rem);
    padding: 0;
    font-size: 90%;
  }
}

.#{$project-ref}btn-collapse {
  i {
    transition: .2s transform ease-in-out;
  }

  &.collapsed {
    i {
      transform: rotate(180deg);
    }
  }
}


/* ======================================================
  Icon
*/